{
    "env": {
        "production": {
            "presets": ["es2015", "react", "stage-0"],
            "plugins": [
                [
                    "css-modules-transform", {
                        "extractCss": "./lib/style.js"
                    }
                ]
            ]
        },
        "development": {
            "presets": ["es2015", "react", "stage-0"]
        },
        "testing": {
            "presets": ["es2015", "react", "stage-0"]
        }
    }
}
