.handler {
    position: absolute;
    top: 0px; left: -1px;
    width: 7px; height: 50px;

    background: #d7d7d7;
    border-radius: 4px;

    transition: background .2s linear;
    -webkit-transition: background .4s linear;
    -moz-transition: background .2s linear;
    -ms-transition: background .2s linear;
    -o-transition: background .2s linear;
}

.hover, .dragging {
    background: #909090;
}
