.track {
    position: absolute;
    top: 0px; right: 2px;
    width: 7px;
    height: 100%;

    padding: 0;

    border-radius: 4px;

    opacity: 1;

    pointer-events: none;

    transition: opacity .4s linear;
    -webkit-transition: opacity .4s linear;
    -moz-transition: opacity .4s linear;
    -ms-transition: opacity .4s linear;
    -o-transition: opacity .4s linear;
}

.hidden {
    opacity: 0;
}
